/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body {
     margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    }

.jumbotron {
    padding-bottom: 2rem
}

.btn.btn-outline-warning {
    margin-top: -50px
}

.sizediff {
    display: inline !important;
    font-size: 15px;
}