<div class="jumbotron">
        <h1 class="display-4">Welcome to Expert's Panel, {{ userData['fullname'] | titlecase }} </h1>
        <button class="btn btn-outline-warning" style="float: right" (click)="goHome()">Logout</button>
    </div>

    <div class="container-fluid table-down">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                        <!-- Position Column -->
                        <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
                            </ng-container>

                        <!-- Position Column -->
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef> Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="comments">
                            <th mat-header-cell *matHeaderCellDef> Comments </th>
                            <td mat-cell *matCellDef="let element"> {{element.comments}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="jarvis">
                            <th mat-header-cell *matHeaderCellDef> JARVIS </th>
                            <td mat-cell *matCellDef="let element"> {{element.jarvis}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="expert">
                            <th mat-header-cell *matHeaderCellDef> Expert </th>
                            <td mat-cell *matCellDef="let element"> {{element.expert}} </td>
                        </ng-container>

                        <!-- <Action Column  -->
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef> Action </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-raised-button (click)="openDialog(element)">More</button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>
        </div>