<div class="jumbotron">
    <h1 class="display-4">Welcome to Disease Detection Center</h1>
    <p class="lead">Register yourself to join the world of AI and make your business easier</p>
    <hr class="my-4">
    <p>We use the power of Deep Learning to get accurate results for our customers</p>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-1">
                <a class="btn btn-outline-primary btn-lg" href="login" role="button">Login</a>
            </div>
            <div class="col-md-1">
                <a class="btn btn-outline-info btn-lg" href="signup" role="button">Register Me</a>
            </div>
        </div>
    </div>
</div>